---

- hosts: all
  become: yes
  gather_facts: no
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
  - name: Update apt cache and install items
    apt:
      name: ['gobuster', 'jq', 'seclists']
      update_cache: yes
